<!doctype html>
<html>
  <head>
    <title>nowjs client test</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="/nowjs/now.js"></script>
	<link rel="stylesheet" href="style/style.css" type="text/css" >
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var name = "unknown";
			
			var sendMessage = function() {
				now.distributeMessage(name, $("#message").val());
				$("#message").val("");
			};
			
			now.receiveMessage = function(name, message) {
				$("<div></div>").text(name + ": " + message).appendTo("#messageBoard")
			};
			
			$("#clientName").keydown(function(event) {
				if (event.keyCode == '13') {
					name = $("#clientName").val();
					$("#clientName").attr("disabled",true);
					$("#message").focus();
				}
			});
			
			$("#send-button").click(function() {
				sendMessage();
			});
			
			$("#message").keydown(function(event) {
				if (event.keyCode == '13') {
					sendMessage();
				}
			});
		});
	</script>
  </head>

  <body>
	<div id="clientBox">
		<div id="messageBoard">&nbsp; </div>
		<label for="clientName">Name:</label><input name="clientName" id="clientName" />
		<label for="message">Message:</label><input name="message" id="message" />
		<p />
		<button type="button" id="send-button">Send</button>
	</div>
  </body>
</html>